body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.api-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
}

.api-header {
  background: url('api-image.png') center/cover no-repeat;
  color: #fff;
  text-align: center;
}

h1, h2 {
  color: #333;
}

p, ul {
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.api-image{
  height: auto;
  margin: 20px;
  text-align: center;
}

img {
  width: 30%;
  height: auto;
}