<html lang="en">

<head>
    <link rel="stylesheet" href="/resources/stylesheet/org-landing-page.css">
</head>

<body>
    <div class="div-11">
        <div class="div-12">
            <div class="column">
                <div class="div-13">
                    <div class="div-14 heading"> ABC Organization </div>
                    <div class="div-15 paragraph"> At ABC Organization, we are dedicated to making a positive impact on communities worldwide. Our mission is to [briefly describe your mission and goals]. Since 2015, we have been tirelessly working towards creating a better world for all. </div>
                    <div class="div-16 button">Learn More</div>
                </div>
            </div>
            <div class="column-2">
                <div class="div-17">
                    <div class='img-3'> <img src="/resources/images/org-landing-page.jpeg"/> </div>
                        <div class="div-18">
                        <div class="div-19">
                            <div class="div-20">
                                <div class="div-21">Use AI</div>
                                <div class="div-22">Explore Components</div>
                            </div>
                            <div class="div-23">
                                <div class="div-24">Let our AI guide you</div>
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/5dd12cc46d19401a545be0d6acdc20c1f0e2eeee2b1b4c1e5a0d593014d3eca1?apiKey=5054b86bb369459e857ad81bc8b6e736&"
                                    class="img-4" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>