<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accommodation API</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="api-section">
    <div class="api-header">
      <h1 id="api-landing-page-heading"></h1>
      <p id="api-landing-page-description"></p>
    </div>
    <img id="api-landing-page-image" class="api-image"></img>  
    <div class="api-features">
      <h2>Key Features</h2>
      <ul>
        <li id="api-landing-page-key-feature-one"></li>
        <li id="api-landing-page-key-feature-two"></li>
        <li id="api-landing-page-key-feature-three"></li>
      </ul>
    </div>
    <div class="api-usage">
      <h2>How it's used</h2>
      <ul>
        <li id="api-landing-page-usage-one"></li>
        <li id="api-landing-page-usage-two"></li>
      </ul>
    </div>
    <div class="api-details">
      <h2>APIs and SDK included</h2>
      <ul>
        <li id="api-landing-page-details-one"></li>
        <li id="api-landing-page-details-two"></li>
      </ul>
    </div>
  </div>
</body>

</html>
