build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
tmp 
log
.vscode
.idea
.DS_Store
DockerFile
docker-compose.yml
Config.toml
