<div style="display: flex;">
    <div style="height: 500; width: 50%; padding: 16px;">
        <img src="XYZOrganization/files/OrgLandingPage/images/org-landing-page.jpeg" width="550" height="800"" alt=" XYZ Organization">
    </div>
    <div style="width: 50%; height: 400px; padding: 16px;">
        <h1>Xyewdwkdwk Organization Structure</h1>

        <p><strong>Empowering Change, Building Tomorrow</strong></p>

        <h2>About Us</h2>

        <p>At XYZ Organization, we are dedicated to making a positive impact on communities and individuals worldwide.
            Our mission is to briefly describe your mission and goals. Since our inception, we have been
            committed to creating meaningful change and building a better future for all.</p>

        <h2>What We Do</h2>

        <ul>
            <li><strong>Community Empowerment:</strong> Engage in community-driven initiatives that foster growth and
                resilience.</li>
            <li><strong>Education for All:</strong> Provide accessible and quality education to empower individuals and
                communities.</li>
            <li><strong>Environmental Sustainability:</strong> Lead efforts for a sustainable and eco-friendly future.
            </li>
        </ul>

        <h2>Our Impact</h2>

        <p>Witness the impact of our initiatives:</p>

        <ul>
            <li><strong>[Insert Success Story 1]:</strong> [Brief description of success story]</li>
            <li><strong>[Insert Success Story 2]:</strong> [Brief description of success story]</li>
        </ul>

        <h2>Get Involved</h2>

        <p>Join us in creating a positive change:</p>

        <ul>
            <li><strong>Volunteer:</strong> Be part of our volunteer community and contribute to impactful projects.
            </li>
            <li><strong>Donate:</strong> Support our initiatives financially to help us reach more lives.</li>
        </ul>

    </div>
</div>