<html lang="en">

<head>
    <link rel="stylesheet" href="/resources/stylesheet/org-landing-page.css">
</head>

<body>
    <div class="org-landing-section">
        <div class="sub-section-one">
            <div class="sub-secttion-one-content">
                <div class="org-heading" id="org-landing-page-section-one"> </div>
                <div class="org-description" id="org-landing-page-section-two"> </div>
                <div class="lern-more-button">Learn More</div>
            </div>
        </div>
        <div class="sub-section-two">
            <div class="sub-secttion-two-content">
                <div class='org-image'> <img id="org-landing-page-image" /> </div>
                <div class="sub-section-two-lower">
                    <div class="lower-main-section">
                        <div class="lower-section-one">
                            <div class="use-ai">Use AI</div>
                            <div class="explore-apis">Explore APIs</div>
                        </div>
                        <div class="lower-section-two">
                            <div class="guide">Let our AI guide you</div>
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/5dd12cc46d19401a545be0d6acdc20c1f0e2eeee2b1b4c1e5a0d593014d3eca1?apiKey=5054b86bb369459e857ad81bc8b6e736&"
                                class="arrow-img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>