.logo {
  width: 100px;
  height: 100px;
}
.nav-bar {
  align-self: end;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  color: #241d6e;
  font-weight: 400;
  white-space: nowrap;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: 0.42px;
  padding: 10px;
}
@media (max-width: 991px) {
  .nav-bar {
    margin-right: 10px;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.nav-bar-element {
  font-family: Inter, sans-serif;
  align-self: stretch;
  margin: auto 0;
}
.nav-bar-img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 26px;
  align-self: stretch;
  margin: auto 0;
}
footer {
  color: #010101;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}
body {
  background-color: #eaf1f2;
}
