.components-div {
  margin-top: 25px;
  width: 100%;
}
@media (max-width: 991px) {
  .components-div {
    max-width: 100%;
  }
}
.components-section {
  padding: 0 20px 20px 35px;
  width: min-content;
}
@media (max-width: 991px) {
  .components-section {
    max-width: 100%;
    margin-top: 40px;
  }
}
.components-page {
  margin-top: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .components-page {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.components-inner-section {
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding-bottom: 14px;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  line-height: 175%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .components-div-5 {
    margin-top: 40px;
    white-space: initial;
  }
}
.components-img {
  padding: 20px;
  aspect-ratio: 1.41;
  object-fit: auto;
  object-position: center;
  width: 90%;
}
.components-inner-section-bottom {
  align-self: center;
  display: flex;
  width: 327px;
  max-width: 100%;
  padding-right: 37px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .components-div-6 {
    padding-right: 20px;
    white-space: initial;
  }
}
.ref-img {
  padding: 20px;
  aspect-ratio: 0.93;
  object-fit: auto;
  object-position: center;
  width: 46px;
  border-radius: 25px;
}
.components-heading-section {
  padding-top: 29px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .components-heading-section {
    white-space: initial;
  }
}
.tile-heading {
  font-family: Akaya Telivigala, sans-serif;
  font-size: 20px;
}