.org-landing-section {
  margin: 100px 40px 20px 40px;
  gap: 90px;
  display: flex;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}
@media (max-width: 991px) {
  .div-12 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.sub-section-one {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 42%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .sub-section-one {
    width: 100%;
  }
}
.sub-secttion-one-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.org-heading {
  align-self: baseline;
  letter-spacing: 1.56px;
  font: 50px/50px Abel, sans-serif;
  margin-left: 20px;
}

.org-description {
  margin-left: 20px;
  letter-spacing: 0.72px;
  align-self: stretch;
  margin-top: 44px;
  text-align: justify;
  font: 24px/34px Akaya Telivigala, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.lern-more-button {
  align-self: center;
  text-align: center;
  border-radius: 32.5px;
  background-color: #5658ba;
  width: 208px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  white-space: nowrap;
  text-transform: capitalize;
  letter-spacing: 0.48px;
  margin: 53px 20px 0 0;
  padding: 22px 60px;
  font: 16px Akaya Telivigala, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    white-space: initial;
    margin: 40px 10px 0 0;
    padding: 0 20px;
  }
}
.sub-section-two {
  display: flex;
  flex-direction: column;
  line-height: normal;
}
@media (max-width: 991px) {
  .sub-section-two {
    width: 100%;
  }
}
.sub-secttion-two-content img{
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}
.org-image {
  aspect-ratio: 1.79;
  object-fit: auto;
  object-position: center;
  width: 832px;
  align-self: end;
  max-width: 100%;
}

.sub-section-two-lower {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 60px;
  padding: 0 60px 18px;
}
@media (max-width: 991px) {
  .div-18 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
    padding: 0 20px;
  }
}
.lower-main-section {
  display: flex;
  width: 543px;
  max-width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .lower-main-section {
    white-space: initial;
  }
}
.lower-section-one {
  text-align: center;
  align-self: end;
  z-index: 10;
  display: flex;
  width: 489px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .lower-section-one {
    flex-wrap: wrap;
    white-space: initial;
  }
}
.use-ai {
  font-family: Inter, sans-serif;
  border-radius: 32.5px;
  border: 1px solid #5658ba;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #241d6e;
  padding: 28px 60px;
}
@media (max-width: 991px) {
  .use-ai {
    white-space: initial;
    padding: 0 20px;
  }
}
.explore-apis {
  font-family: Inter, sans-serif;
  border-radius: 32.5px;
  background-color: #5658ba;
  align-self: start;
  flex-grow: 1;
  justify-content: center;
  color: #fff;
  padding: 25px 47px;
}
@media (max-width: 991px) {
  .explore-apis {
    white-space: initial;
    padding: 0 20px;
  }
}
.lower-section-two {
  align-self: start;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  color: #241d6e;
}
@media (max-width: 991px) {
  .div-23 {
    white-space: initial;
  }
}
.guide {
  font-family: Inter, sans-serif;
  align-self: end;
  margin-top: 54px;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-24 {
    margin-top: 40px;
    white-space: initial;
  }
}
.arrow-img {
  aspect-ratio: 0.56;
  object-fit: auto;
  object-position: center;
  width: 36px !important;
  align-self: start;
}
footer {
  color: #010101;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}