<div class="container">
  <div class="header">
    <h1>AccommodationAPI</h1>
    <p>Powering Your Accommodation Needs</p>
  </div>

  <div class="main-section">
    <h2>About Us</h2>
    <p id="api-landing-page-section-one">
    </p>
  </div>

  <div class="main-section">
    <h2>Key Features</h2>
    <ul>
      <li id="api-landing-page-section-one-list-one"></li>
      <li id="api-landing-page-section-one-list-two"></li>
      <li id="api-landing-page-section-one-list-three"></li>
      <li id="api-landing-page-section-one-list-four"></li>
    </ul>
  </div>

  <div class="main-section">
    <h2>AccommodationAPI in Action</h2>
    <img src="/resources/APILandingPage/images/org-landing-page.jpeg" alt="AccommodationAPI in Action">
  </div>

  <div class="main-section">
    <h2>Get Started</h2>
    <p>Begin your accommodation search now:</p>
    <a href="#" class="cta-button">Search Accommodations</a>
  </div>

</div>