<div id="api-landing-page">
    <div class="api-div">
      <div class="api-img" id="api-landing-page-section-one">
      </div>
      <div class="api-description" id="api-landing-page-section-two">
      </div>
    </div>

    <div class="api-heading">Key Features</div>
    <div class="api-list" id="api-landing-page-section-three">
    </div>

    <div class="api-heading">How it's used</div>
    <div class="api-list" id="api-landing-page-section-four">
    </div>

    <div class="api-heading">APIs and SDK included</div>
    <div class="api-list" id="api-landing-page-section-five">
    </div>
  </div>