<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/stylesheet/api-landing-page.css">
</head>

<body>
  <div class="api-section">
    <div class="api-header">
      <h1 id="api-landing-page-heading"></h1>
    </div>
    <div class="container">
      <div class="version">
          <p>Version: <span id="api-version"></span></p>
      </div>
      <div class="url">
        <p>URL: <a id="api-url"></a> </p>
      </div>
  </div>
    <div class="api-description-section">
      <img id="api-landing-page-image" class="api-image"></img>
      <p class="api-description" id="api-landing-page-description"></p>
    </div>
    <div id="api-details"></div>
  </div>
</body>

</html>